* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    position: fixed;
    z-index: 999;
    padding: 20px;
    width: 100%;
    background-color: white;
}

#logo {
    width: 80%;
    vertical-align: bottom;
}

#left-ul {
    float: left;
    width: 50%;
}

#right-ul {
    float: right;
    width: 50%;
    text-align: right;
}

.header-ul li {
    display: inline-block;
    list-style-type: none;
    font-size: small;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

.hero {
    background-color: #b4d0e7;
    padding: 120px 60px 80px 60px;
    max-height: 90vh;
}

p {
    font-size: 16px;
    font-weight: 600;
}

.blue-button {
    padding: 5px 20px;
    background-color: #0061ff;
    color: white;
    font-weight: 600;
    font-size: small;
    display: inline-block;
}

.hero-text {
    width: 30%;
    float: left;
    padding-top: 40px;
    padding-bottom: 30px;
}

.small-text {
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.medium-text {
    font-size: 13px;
    font-weight: 600;
}

.fa-arrow-down {
    font-size: 40px;
    padding-top: 30px;
}

#jumbo-img {
    width: 70%;
    float: left;
    padding-top: 40px;
    padding-bottom: 100px;
}

h1 {
    font-size: 77px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
    font-weight: 800;
}

h4 {
    font-size: 16px;
    font-weight: 800;
}

h5 {
    font-size: 14px;
    display: inline;
}

h6 {
    font-size: 14px;
    font-weight: 600;
    color: rgb(121, 121, 121);
}

/* Container Layout */
.container-large {
    max-width: 1367px;
    width: 100%;
    margin: auto;
}

.container {
    max-width: 1010px;
    width: 100%;
    margin: auto;
}

[class*="col-"] {
    float: left;
}

.col-3_9 {
    width: calc(100% / 9 * 3 - 20px);
}

.col-4_9 {
    width: calc(100% / 9 * 4);
}

.col-5_9 {
    width: calc(100% / 9 * 5);
}

.check {
    display: inline-block;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.left-col-pad {
    margin-right: 15px;
}

.center-col-pad {
    margin-left: 15px;
    margin-right: 15px;
}

.right-col-pad {
    margin-left: 15px;
}

label {
    font-weight: 600;
}

.for {
    padding: 10px;
    border-bottom: 1px solid rgba(201, 201, 201, 0.747);
    text-align: center;
}

.fa-user {
    font-weight: 500;
}

.bplan-column {
    border: 1px solid rgba(201, 201, 201, 0.747);
    height: 900px;
    margin-bottom: 40px;
}

/* padding */

.plane {
    padding: 20px;
}

.small-plan {
    padding: 10px;
}

.pad-bot{
    padding-bottom: 20px;
}

.pad-b5 {
    padding-bottom: 5px;
}

.pad-b10 {
    padding-bottom: 10px;
}

.pad-b30 {
    padding-bottom: 30px;
}

.pad-b50 {
    padding-bottom: 50px;
}

.pad-b80 {
    padding-bottom: 80px;
}

.width100 {
    width: 100%;
}
/* --------------- */

.centered-text {
    text-align: center;
}

.large-button {
    padding-left: 58px;
    padding-right: 58px;
}

.blue-link {
    color: #0061ff;
    text-decoration: underline;
    font-weight: 700;
}

.small-line {
    display: inline-block;
    width: 45px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(201, 201, 201, 0.747);
}

li {
    list-style: none;
}

.check-ul li {
    padding-bottom: 20px;
    padding-left: 22px;
}

.fa-check {
    color: #0061ff;
    margin-left: -22px;
    padding-right: 10px;
}

.user-ul {
    padding-left: 22px;
}

.fa-user, .fa-folder, .fa-pen {
    margin-left: -22px;
    padding-right: 10px;
}

.fa-euro-sign {
    padding-left: 5px;
}

.team-container {
    width: 100%;
    border: 1px solid rgba(201, 201, 201, 0.747);
}

.team-button {
    float: right;
    position: relative;
    bottom: 100px;
}

.trasp-button {
    padding: 5px 10px;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 15px;
}

.underline {
    text-decoration: underline;
}

/* Square Section */
.squaresection-title {
    width: 58%;
}

.square-section-big {
    float: left;
    width: 50%;
    background-color: rgba(245,245,245,255);
    padding: 50px;
    height: 25vw;
    overflow: auto;
}

.square-section-small {
    float: left;
    width: 25%;
}

/* ------------Single SQUARE---------- */
.container-square-img {
    width: 50%;
    height: calc(25vw / 2);
    position: relative;
    float: left;
}
/* --------------------- */
.square-img-fit {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#designit {
    border: 10px solid rgba(208,233,205,255);
    background-color: rgba(162,211,155,255);
}

#arizona {
    background-color: rgba(97,8,43,255);
}

#florida {
    background-color: rgba(0,147,206,255);
}

#toops {
    background-color: rgba(255,28,28,255);
}

#wbr {
    background-color: rgba(213,0,31,255);
}

#hearts {
    background-color: rgba(180,208,231,255);
}

#lonely {
    background-color: rgba(13,36,129,255);
}

#clear {
    background-color: rgba(255,216,48,255);
}

.img-filter {
    filter: invert(100%);
}

#large-bg {
    background-color: #b4d0e7;
    padding: 100px 0px;
}

#designit-big {
    width: 20%;
}

#line-designit {
    width: 60px;
    border-bottom: 1px solid rgba(201, 201, 201, 0.747);
    padding-top: 30px;
}

.white-button {
    background-color: white;
    padding: 5px  50px;
    font-weight: 600;
    font-size: 15px;
    float: right;
}

.lbg-title {
    width: 50%;
    color: rgba(97,8,43,255);
    float: left;
}

/* Q&A */
.qa-pad {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pad-title-qa {
    padding-bottom: 40px;
}

.bord-qa {
    border-bottom: 1px solid rgba(201, 201, 201, 0.747);
}

.qa {
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: 800;
    font-size: 15px;
}

.fa-angle-down {
    float: right;
    position: relative;
    bottom: 30px;
    right: 30px;
    transform: rotateZ(0deg);
    transition: transform .5s;
}

.qa-accordion {
    margin-bottom: 20px;
    /* display: none; */
    height: 0px;
    overflow: hidden;
    transition: height .5s;
}

.bord-qa:focus .qa-accordion {
    /* display: block; */
    height: 200px;
    overflow: auto;
}

.bord-qa:focus .fa-angle-down {
    transform: rotateZ(180deg);
    transition: transform .5s;
    animation: none;
    color: #0061ff;
}

/* FOOTER */

#foot-bg {
    width: 100%;
    background-color: black;
}

.foot-container {
    width: 90%;
    padding: 80px 40px;
    margin: auto;
}

.col-1_5 {
    width: calc(100% / 5);
    float: left;
}

.li-foot {
    color: white;
    list-style: none;
    padding-bottom: 10px;
    position: relative;
}

.li-title {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
}

.white-a {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.foot-ul {
    padding-left: 30px;
}

.lan-container {
    width: 90%;
    padding: 0px 40px 0px 40px;
    margin: auto;
}

#end-line {
    width: 120px;
    border-bottom: 1px solid white;
}

#italiano {
    padding: 40px 0px;
    color: rgba(211, 211, 211, 0.747);
    font-size: small;
    font-weight: 300;
}

.it-container {
    width: 6%;
    margin-left: 30px;
    border-top: 1px solid rgba(201, 201, 201, 0.747);
}

.fa-globe-americas {
    font-size: 16px;
}

/* -------------Animations------------ */
/* arrow bounce */
.bounce {
    animation: bounce 2s infinite;
}
  
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-15px);
    }
}

/* navbar animation link */
.nav-anim-li a {
    position: relative;
    padding: 16px 7px;
    border-top: 2px solid rgba(255,255,255,0);
    border-bottom: 2px solid rgba(255,255,255,0);
    transition: padding .3s,border-color .3s;
}

.nav-anim-li  a:hover {
    padding: 5px 7px;
    border-color: #0061ff;
    outline: none; 
    background-color: rgba(200, 228, 228, 0.329);  
}

.nav-anim-li a::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 0;
    color: rgba(255,255,255,0);
    border-left: 2px solid rgba(255,255,255,0);
    content: attr(data-text);
    transition: max-height .3s,border-color 0s;
}

.nav-anim-li a::after {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 5px;
    max-height: 0;
    color: rgba(255,255,255,0);
    border-right: 2px solid rgba(255,255,255,0);
    content: attr(data-text);
    transition: max-height .3s,border-color 0s;
}

.nav-anim-li  a:hover::before, 
.nav-anim-li  a:hover::after {
    max-height: 100%;
    transition-delay: .28s;
    border-color: #0061ff;
}

/* button animation */
a[class*="button"]:hover {
    background-color: rgba(32, 178, 171, 0.671);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    
}

/* footer link animation */
.li-foot a::after {
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0);
    height: 2px;
    bottom: 5px;
    left: 0;
    background-color: rgba(201, 201, 201, 0.747);
    transform-origin: bottom right;
    transition: transform .4s ease-out;   
} 

.li-foot a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}