* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    position: fixed;
    padding: 20px;
    width: 100%;
    background-color: white;
}

#logo {
    width: 80%;
    vertical-align: bottom;
}

#left-ul {
    float: left;
    width: 50%;
}

#right-ul {
    float: right;
    width: 50%;
    text-align: right;
}

.header-ul li {
    display: inline-block;
    list-style-type: none;
    font-size: small;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.hero {
    background-color: #b4d0e7;
    padding: 120px 60px 80px 60px;
    max-height: 90vh;
}

p {
    font-size: 16px;
    font-weight: 600;
}

.blue-button {
    padding: 5px 20px;
    background-color: #0061ff;
    color: white;
    font-weight: 600;
    font-size: small;
}

.hero-text {
    width: 30%;
    float: left;
    padding-top: 40px;
    padding-bottom: 30px;
}

.small-text {
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.medium-text {
    font-size: 13px;
    font-weight: 600;
}

.fa-arrow-down {
    font-size: 40px;
    padding-top: 30px;
}

#jumbo-img {
    width: 70%;
    float: left;
    padding-top: 40px;
    padding-bottom: 100px;
}

h1 {
    font-size: 77px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
    font-weight: 800;
}

h4 {
    font-size: 16px;
    font-weight: 800;
}

h5 {
    font-size: 14px;
    display: inline;
}

h6 {
    font-size: 14px;
    font-weight: 600;
    color: rgb(121, 121, 121);
}

/* Container Layout */
.container-large {
    max-width: 1367px;
    width: 100%;
    margin: auto;
}

.container {
    max-width: 1010px;
    width: 100%;
    margin: auto;
}

[class*="col-"] {
    float: left;
}

.col-3_9 {
    width: calc(100% / 9 * 3 - 20px);
}

.check {
    display: inline-block;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
}

label {
    font-weight: 600;
}

.for {
    padding: 10px;
    border-bottom: 1px solid rgba(201, 201, 201, 0.747);
    text-align: center;
}

.fa-user {
    font-weight: 500;
}

.bplan-column {
    border: 1px solid rgba(201, 201, 201, 0.747);
    height: 900px;
    margin-bottom: 40px;
}

.plane {
    padding: 30px 20px;
}

.pad-bot{
    padding-bottom: 20px;
}

#blue-link {
    color: #0061ff;
    text-decoration: underline;
    font-weight: 700;
}

.small-line {
    display: inline-block;
    width: 45px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(201, 201, 201, 0.747);
}

.check-ul li {
    list-style-type: none;
    padding-bottom: 20px;
}

.fa-check {
    color: #0061ff;
}